<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/style.css" th:href="@{./css/style.css}">
    <title>Footer</title>
</head>
<body>
<footer class="footer" th:footer="footer">
    <div class="container">
        <span class="text-muted">Samson Tulu : : : CS425-SWE</span>
        <span style="float:right;" class="text-muted">&copy; June 2020</span>
    </div>
</footer>
</body>
</html>