<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/style.css" th:href="@{./css/style.css}">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div>
    <h1 align="center"> Welcome To CRM System HawkeyeSuperMart</h1>
    <br/>
    <h2 align="center">who we are and what we do</h2>
    <div style="font-size: 1em"><br/>
        <p align="center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Mattis rhoncus urna neque viverra justo. Ipsum consequat nisl vel pretium lectus quam id leo
            in.
            Eget magna fermentum iaculis eu non diam. Placerat in egestas erat imperdiet sed euismod nisi porta.
            Maecenas
            sed enim ut sem viverra. Ipsum suspendisse ultrices gravida dictum fusce ut placerat. Quis varius quam
            quisque
            id diam. Donec adipiscing tristique risus nec feugiat in fermentum posuere. Purus gravida quis blandit
            turpis
            cursus in. Purus viverra accumsan in nisl nisi scelerisque eu ultrices. Pharetra et ultrices neque ornare
            aenean.
        </p>

        <p align="center">
            Purus in mollis nunc sed. Enim ut tellus elementum sagittis vitae et leo duis ut. Pretium fusce id velit ut.
            Malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit. Turpis nunc eget lorem dolor sed
            viverra. Dictum at tempor commodo ullamcorper a lacus vestibulum sed arcu. Augue lacus viverra vitae congue.
            Aliquet enim tortor at auctor urna. Massa tincidunt dui ut ornare lectus sit. Leo vel orci porta non
            pulvinar
            neque laoreet suspendisse. Mattis nunc sed blandit libero volutpat sed cras ornare.
        </p>

    </div>

</div>


<footer th:replace="fragments/footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>